@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}

#about_me{

    .my_background{
        background-image: url(https://images.hdqwalls.com/download/dots-gradient-background-4k-8f-2560x1440.jpg);
        height: 100vh;
    }
}
#portfolio{

    .my_background{
        background: linear-gradient(150deg, rgb(161, 147, 147), rgb(62, 62, 254), rgb(203, 47, 203), rgb(240, 64, 64));
        
    }
    
}
